Repository fermyon/developer, pull requests merged in 2023-03, with the labels that each got.

#428 css adjustments for docs
  static/css/styles.css
  static/data.json
  static/sass/styles.scss
Labels: design

#449 fix the blockquote light mode shading on docs
  static/css/styles.css
  static/sass/styles.scss
Labels: bug

#469 Add section for verifying the release signature
  content/spin/install.md
Labels: hold_until_spin_1_0_0_release

#424 Update config env prefix to SPIN_CONFIG
  content/spin/dynamic-configuration.md
Labels: hold_until_spin_1_0_0_release

#332 Trying out preview deployment from fermyon org
  .github/workflows/deploy-preview.yml
Labels: discussion, fermyon-preview-deployed

#528 do not run preview workflow on forks
  .github/workflows/deploy-preview.yml
Labels: doNotMergeYet
