Repository fermyon/developer, pull requests merged in 2023-04, with the labels that each got.

#532 Add Changelog
  config/site.toml
  content/cloud/changelog.md
  content/cloud/changelog/gh-actions-spin-deploy.md
  content/cloud/changelog/request-metrics-in-cloud.md
  scripts/content_filter.rhai
  scripts/truncate_post.rhai
  static/css/styles.css
  static/image/changelog/metrics-request-count.gif
  static/image/changelog/spin-gh-actions.png
  static/js/main.js
  static/js/src/main.js
  static/js/src/modules/utils.js
  static/sass/styles.scss
  templates/changelog.hbs
  templates/changelog_item.hbs
  templates/cloud_sidebar.hbs
  templates/home.hbs
Labels: documentation, cloud

#515 docs(spin/install): updates per v1.1.0
  content/spin/install.md
  static/data.json
Labels: hold_until_spin_1_1_0_release

#513 Document spin watch
  content/common/cli-reference.md
  static/data.json
Labels: hold_until_spin_1_1_0_release

#570 Remove event from "Where to find us next" slider.
  content/events/2023-devopsdays-copenhagen.md
Labels: upcoming_event

#575 Create 2023-we-are-developers.md
  content/events/2023-we-are-developers.md
Labels: upcoming_event
