Repository fermyon/developer, pull requests merged in 2023-05, with the labels that each got.

#633 Create 2023-Colorado-Kubernetes-And-Cloud-Native-Meet-Up.md
  content/events/2023-Colorado-Kubernetes-And-Cloud-Native-Meet-Up.md.md
Labels: upcoming_event

#634 Create 2023-KCD-Mumbai.md
  content/events/2023-KCD-Mumbai.md
Labels: upcoming_event

#627 Update Spin from 1.1 to 1.2
  content/common/cli-reference.md
  content/common/contributing-docs.md
  content/spin/install.md
Labels: hold_until_spin_1_2_0_release

#628 Random API Update - Ready for approval
  content/spin/go-components.md
  content/spin/http-outbound.md
  content/spin/javascript-components.md
  content/spin/python-components.md
  content/spin/rust-components.md
Labels: good first issue, help wanted
