Repository fermyon/developer, pull requests merged in 2024-06, with the labels that each got.

#1313 Create 2024-kcd-munich.md
  content/events/2024-kcd-munich.md
Labels: upcoming_event

#1314 Create 2024-developer-week.md
  content/events/2024-developer-week.md
Labels: upcoming_event

#1323 Make linking consistent for upcoming migration
  content/api/hub/contributing.md
  content/api/hub/plugin_js2wasm.md
  content/api/hub/sample_http_auth_middleware.md
  content/api/hub/sample_kv_in_python.md
  content/api/hub/sample_kv_in_typescript.md
  content/api/hub/sample_ollama.md
  content/api/hub/sample_openaichat_ts.md
  content/api/hub/sample_router.md
  content/api/hub/sample_ts_router_post.md
  content/api/hub/template_http_empty.md
  content/api/hub/template_http_go.md
  content/api/hub/template_http_js.md
  content/api/hub/template_http_python.md
  content/api/hub/template_http_rust.md
  content/api/hub/template_http_ts.md
  content/api/hub/template_kv_explorer.md
  content/api/hub/template_nextjs.md
  content/api/hub/template_qwik_frontend.md
  content/api/hub/template_redis_go.md
  content/api/hub/template_redis_rust.md
  content/cloud/changelog/cloud-config.md
  content/cloud/changelog/serverless-ai-open-beta.md
  content/cloud/changelog/spin-cloud-v0-5-0.md
  content/cloud/changelog/spin-cloud-v0-5-1.md
  content/cloud/deployment-concepts.md
  content/cloud/faq.md
  content/cloud/noops-sql-db.md
  content/cloud/pricing-and-billing.md
  content/spin/v1/serverless-ai-hello-world.md
  content/spin/v2/key-value-store-tutorial.md
  content/spin/v2/kubernetes.md
  content/spin/v2/serverless-ai-hello-world.md
  content/wasm-languages/CONTRIBUTING.md
  content/wasm-languages/about-examples.md
  content/wasm-languages/lua.md
  content/wasm-languages/python.md
  content/wasm-languages/standards.md
Labels: v3_ToC

#1319 Version 3.0 of documentation (unification to v3_ToC) - migration scripts and instructions
  migration_scripts/README.md
  migration_scripts/backup_content.sh
  migration_scripts/check_that_all_pages_are_linked_to_in_sidebar.py
  migration_scripts/clean_up_after_migration.sh
  migration_scripts/create_redirect_syntax_for_manifest.py
  migration_scripts/create_unified_sidebar.py
  migration_scripts/create_url_vs_markdown_file_vs_toc_label_mapping.py
  migration_scripts/latest_sidebar.hbs
  migration_scripts/mapping_information.xlsx
  migration_scripts/move_markdown_files_to_unified_location.py
  migration_scripts/reset_content.sh
  migration_scripts/sidebar_structure.py
Labels: doNotMergeYet, v3_ToC
